@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

@font-face { 
	font-family: "Patchwork Stitchlings"; 
	src: url("./fonts/Patchwork Stitchlings/Patchwork Stitchlings.ttf") format("truetype"); 
	font-weight: normal;
	font-style: normal; 
	font-display: swap; 
}

@font-face { 
	font-family: "PixelitoCM"; 
	src: url("./fonts/PixelitoCM.ttf") format("truetype"); 
	font-weight: normal;
	font-style: normal; 
	font-display: swap; 
}

html {
  cursor: url('assets/cake_cat_cursor.gif'), default
}

body {
  background-image: url("assets/background.png");
  background-color: #EDE8D0;
  color: brown;
  font-family: "Pixelify Sans";
  margin-top:-25px;
}

header {
  background-color: #a5865a;
  height: 80px;
  margin-left: -10px;
  margin-right: -10px;
  padding-top: 30px;
  display: flex;
  justify-content: center;
}

h1 {
  font-family: "Patchwork Stitchlings",Consolas;
  font-size: 22px;
  color: #EDE8D0;
}

h2 {
  font-family: "PixelitoCM",Consolas;
  font-size: 45px;
  font-style:normal;
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 10px;
}

h3{
  font-family: "PixelitoCM",Consolas;
  font-size: 32px;
  font-style:normal;
  font-weight: normal;
  color: #a5865a;
  margin-top: 5px;
  margin-bottom: 10px;
}

h4{
  font-family: "PixelitoCM",Consolas;
  font-size: 30px;
  font-style:normal;
  font-weight: normal;
  color: #a5865a;
  margin-top: 5px;
  margin-bottom: 10px;
}

h4{
  font-family: "PixelitoCM",Consolas;
  font-size: 30px;
  font-style:normal;
  font-weight: normal;
  color: #a5865a;
  margin-top: 5px;
  margin-bottom: 10px;
}

a {
  color: brown;
  font-weight: bold;
}

a:link {
  color: brown;
}

a:hover {
  color:#a5865a;
  cursor: url('assets/cake_cat_cursor.gif'), default;
}

::selection {
  color: #EDE8D0;
  background: #933c3c;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #EDE8D0;
    margin: 5px;
    padding: 0;
}

.index-main {
  background-color: white;
  width: 1000px;
  border: 2px solid #a5865a;
  border-radius: 25px;
  padding: 20px;
}

.main {
  background-color: white;
  border: 5px dashed #a5865a;
  border-radius: 25px;
  margin: 80px auto;
  padding: 20px;
  width: 1000px;
}

.side-menu {
  background-color: #a5865a;
  border-radius: 25px;
  width: 200px;
  height: fit-content;
  padding: 10px;
  padding-top:15px;
  text-align: left;
  margin: 10px;
  margin-bottom: 10px;
}

.side-menu p, .side-menu ul, .side-menu ol {
  color: #EDE8D0;
  font-weight: normal;
  font-style: normal;
  margin-left: 10px;
  margin-top:0;
}

.side-menu a {
  color:#EDE8D0;
  text-decoration: none;
  margin: 8px;
}

.side-menu a:hover {
  text-decoration: underline;
}

.hover-dropdown {
  display: none;
}

.dropdown:hover .hover-dropdown {
  display: block;
}

.main-button {
  background-color: white;
  height: 40px;
  width: 270px;
  margin-left: -5px;
  margin-right: -5px;
  border: 2px solid #a5865a;
  font-family: "PixelitoCM",Consolas;
  font-size: 29px;
  transition-duration: 0.4s;
}

.main-button:hover {
  background-color: #a5865a;
  color: white;
  cursor: url('assets/cake_cat_cursor.gif'), default;
}

.text-box {
  background-color: white;
  border: 3px dotted #a5865a;
  margin: 10px;
  padding: 7px;
}

.cookie-border {
  border-width: 7px;
  border-style: solid;
  border-image: url("assets/borders/cookie_border.gif") 7 fill round;
  width:400px;
}

.pink-border {
  border-width: 8px;
  border-style: solid;
  border-image: url("assets/borders/cute_border.png") 8 fill round;  
  width: 400px;       
}

.blog-element {
  background-color: white;
  border: 2px solid #a5865a;
  margin: 25px;
  text-align:left;
  width: 400px;
  padding: 15px;
}

.blog-element h4 {
    margin-top: 0;
    margin-bottom: 10px;
}

#blog-title a {
  color: #a5865a;
  text-decoration: none;
}

#blog-title a:hover {
  text-decoration: underline;
  cursor: url('assets/cake_cat_cursor.gif'), default;

}

.breadcrumb {
  padding: 0 0.5rem;
}

.breadcrumb ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: end;
}

.breadcrumb li:not(:last-child)::after {
  display: inline-block;
  margin: 0 0.60rem;
  content: "→";
}

.post-it {
  color: black;
  box-shadow: 10px 10px 5px gray;
  margin: 10px;
  padding: 10px;
}

.post-it h4 {
  color: black;
}



